## Assignment 1- Question 1

In [ ]:
import pandas as pd
import numpy as np
import math

In [ ]:
df=pd.DataFrame({'ID':[114, 345, 157788, 5626],
                   'Product':['shirt', 'trousers', 'tie', 'belt'],
                   'Color':['White', 'Black', 'Red', 'Brown'],
                   'Discount':[10, 10, 10, 10]})
df.head()

       ID   Product  Color  Discount
0     114     shirt  White        10
1     345  trousers  Black        10
2  157788       tie    Red        10
3    5626      belt  Brown        10

In [ ]:
df.tail()

       ID   Product  Color  Discount
0     114     shirt  White        10
1     345  trousers  Black        10
2  157788       tie    Red        10
3    5626      belt  Brown        10

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        4 non-null      int64
 1   Product   4 non-null      object
 2   Color     4 non-null      object
 3   Discount  4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes

In [ ]:
df.describe()

                  ID  Discount
count       4.000000       4.0
mean    40968.250000      10.0
std     77921.427966       0.0
min       114.000000      10.0
25%       287.250000      10.0
50%      2985.500000      10.0
75%     43666.500000      10.0
max    157788.000000      10.0

In [ ]:
df.isna().sum()

ID          0
Product     0
Color       0
Discount    0
dtype: int64

## Assignment 1- Question 2

In [3]:
marks = [10,30,42,48,21,98,33,80,11,19,70]

In [4]:
def median(marks):
    marks.sort()
    if(len(marks)%2==0):
        med_1=marks[int(len(marks)%2)+1]
        med_2=marks[int(len(marks)%2)-1]
        final_median=med_1+med_2/2
    else:
        final_median=marks[int(len(marks)/2)]
    return final_median

In [5]:
print(median(marks))

33

## Assignment 1- Question 3

Bias/Variance Tradeoff